{% extends 'base.html' %}

{% block content %}

<p>Current Score: <span id="cur-score">55</span></p>

<p>Average Score over the past 30 minutes: <span id="avg-score">45</span></p>
<br />

<div class="row">
    <div class="col-sm-4">
        <h6>Chair Back</h6>
        <table class="table chair">
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-sm-offset-4 col-sm-4">
        <table class="table chair">
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
        </table>
        <h6>Chair Seat</h6>
    </div>
</div>
{% endblock %}
